.botonregistro{
  padding: 7px;
  border-radius: 30px;
  font-size:1.3em;
  color:white;
  background-color: #985382;
}

.botones{
  margin-left: 95%;
  transform: translateX(-95%);
}

.tabla-usuarios{
  font-family: "Century Gothic";
}

.titulo{
  font-size: 1.7em;
  text-decoration: underline;
  text-decoration-color: mediumpurple;
}

.input-buscar{
  border-top:none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
}

