.botonregistro{
  margin-left: 90%;
  transform: translateX(-90%);
  padding: 5px;
  border-radius: 20px;
  font-size:1.4em;
  color:white;
  background-color: #b6d858;
}

.tabla-usuarios{
  font-family: "Century Gothic";
}

.titulo{
  font-size: 1.7em;
  text-decoration: underline;
  text-decoration-color: mediumpurple;
}

.input-buscar{
  border-top:none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid black;
}

