<div class="container contenido mt-5">

  <fa-icon [icon]="iconoLibro"></fa-icon>
  <label for="asignaturas" class="label ml-2">Selecciona los grupos de los que deseas generar el calendario</label>
  <mat-form-field class="select">
    <mat-select class="select" [formControl]="gruposMultiCtrl" [multiple]="true" #multiSelect>
      <ngx-mat-select-search placeholderLabel="Selecciona los grupos" noEntriesFoundLabel="No se encuentra el grupo" [formControl]="gruposMultiFilterCtrl"></ngx-mat-select-search>
      <mat-option *ngFor="let grupo of filteredGruposMulti | async" [value]="grupo" (click)="onSubmit(grupo)">
        {{grupo.id}} - {{grupo.tipo}} ({{grupo.id_asignatura}})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="mostrarbien==true" class="alert alert-success alert-dismissable mt-3" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cambiarbien()"><span aria-hidden="true">&times;</span></button>
    {{mensaje}}
  </div>
  <div *ngIf="mostrarmal==true" class="alert alert-danger alert-dismissable mt-3" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cambiarmal()"><span aria-hidden="true">&times;</span></button>
    {{mensaje}}
  </div>

  <input type="submit" value="CONFIRMAR" class="btn boton mt-2" (click)="registrar()">
      <p class="resultado mt-3">
        GRUPOS SELECCIONADOS
      </p>
      <ul *ngFor="let grupo of gruposMultiCtrl?.value">
        <li>{{grupo.id}}</li>
      </ul>
</div>
