<!-- Footer -->
<footer class="piePagina font-small pb-2 pt-2">

  <!-- Footer Links -->
  <div class="container-fluid text-md-left">

    <!-- Grid row -->
    <div class="row justify-content-center">

        <span class="icon">
          <a href="https://www.facebook.com/uvigo" target="_blank"><img src="../../assets/facebook.png" width="25" height="25"></a>
        </span>
        <span class="icon">
          <a href="https://www.instagram.com/universidadedevigo/" target="_blank"><img src="../../assets/instagram.png" width="25" height="25"></a>
        </span>
        <span class="icon">
          <a href="https://twitter.com/uvigo" target="_blank"><img src="../../assets/twitter.png" width="25" height="25"></a>
        </span>
        <span class="icon">
          <a href="https://www.youtube.com/user/uvigo" target="_blank"><img src="../../assets/youtube.png" width="25" height="25"></a>
        </span>
      </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
