<div class="container botones">
  <div class="row align-content-center align-items-center">
    <input *ngIf="tipo=='1'" type="submit" class="btn btn-lg boton col-6" value="VER HORARIO" (click)="router.navigate(['/seleccionarusuario'])"/>
    <input *ngIf="tipo=='1'" type="submit" class="btn btn-lg boton col-6" value="GENERAR HORARIO" (click)="router.navigate(['/generarcalendario'])"/>
    <input *ngIf="tipo=='2'" type="submit" class="btn btn-lg boton col-6" value="VER MI HORARIO" (click)="irACalendario()"/>
    <input *ngIf="tipo=='2'" type="submit" class="btn btn-lg boton col-6" value="SELECCIONAR ESTUDIANTE" (click)="router.navigate(['/seleccionarestudiante'])"/>
  </div>
</div>
