<!-- Aqui empieza la cabecera -->
<nav class="navbar navbar-expand-lg cabecera">
  <div class="logo col-9">
    <a class="navbar-brand">
      <img src="../../assets/uvigo.svg" width="267" height="40">
    </a>
  </div>
  <div class="col-2 login mt-1">
    <fa-icon [icon]="iconoUsuario" ></fa-icon>
    <label class="ml-2 mt-1 nombre">{{nombreUsuario}}</label>
  </div>
  <div class="col-1">
    <a class="navbar-brand" href="#">
      <img src="../../assets/out.svg" width="20" height="20">
    </a>
  </div>
</nav>
<!-- Aqui acaba la cabecera -->

<!-- Aqui empieza el menu -->
<div class="menu">
  <nav class="navbar navbar-expand-lg container">

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <fa-icon [icon]="iconoBarras" class="icono"></fa-icon>
    </button>

    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
        <div *ngIf="tipo==1">
          <ul class="navbar-nav mr-auto">
            <li *ngIf="tipo==1" type="button" class="ml-4 boton" (click)="router.navigate(['/usuarios'])">USUARIOS</li>
            <li *ngIf="tipo==1" type="button" class="ml-4 boton" (click)="router.navigate(['/asignaturas'])">ASIGNATURAS</li>
            <li *ngIf="tipo==1" type="button" class="ml-4 boton" (click)="router.navigate(['/gruposreducidos'])">GRUPOS REDUCIDOS</li>
            <li *ngIf="tipo==1" type="button" class="ml-4 boton" (click)="router.navigate(['/menucalendario'])">CALENDARIO</li>
          </ul>
        </div>
        <div *ngIf="tipo==2">
          <ul class="navbar-nav mr-auto">
            <li *ngIf="tipo==2" type="button" class="ml-4 boton" (click)="irACalendarioProfesor()">CALENDARIO</li>
            <li *ngIf="tipo==2" type="button" class="ml-4 boton" (click)="irAAsignaturas()">ASIGNATURAS</li>
            <li *ngIf="tipo==2" type="button" class="ml-4 boton" (click)="router.navigate(['/actividadesdocentes'])">ACTIVIDADES DOCENTES</li>
          </ul>
        </div>
        <div *ngIf="tipo==3">
          <ul class="navbar-nav mr-auto">
            <li *ngIf="tipo==3" type="button" class="ml-4 boton" (click)="irACalendarioEstudiante()">CALENDARIO</li>
          </ul>
        </div>
    </div>
  </nav>
</div>
<!-- Aqui acaba el menu -->


