
<div class="container registro">
  <div class="vl">
    <form #formRegistroEstudiante="ngForm" (ngSubmit)="registrar()" class="form-registro-estudiante" >

      <h4 class="mt-4 mb-4 titulo" *ngIf="usuario.tipo==3">REGISTRAR A UN ESTUDIANTE</h4>
      <h4 class="mt-4 mb-4 titulo" *ngIf="usuario.tipo==2">REGISTRAR A UN PROFESOR</h4>
      <fa-icon [icon]="iconoUsuario"></fa-icon>
      <label for="nombre" class="labels ml-2">Nombre</label>
      <br/>
      <input type="text" name="nombre" class="col inputs" #nombre="ngModel" [(ngModel)]="usuario.nombre" required />
      <span class="validaciones" *ngIf="nombre.touched && !nombre.valid">
      El nombre no es válido
    </span>

      <br/>

      <fa-icon [icon]="iconoApellidos"></fa-icon>
      <label for="apellidos" class="labels ml-2">Apellidos</label>
      <br/>
      <input type="text" name="apellidos" class="col inputs" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required />
      <span class="validaciones" *ngIf="apellidos.touched && !apellidos.valid">
      Los apellidos no son válidos
    </span>

      <br/>

      <fa-icon [icon]="iconoEmail"></fa-icon>
      <label for="email" class="labels ml-2">Email</label>
      <br/>
      <input type="email" name="email" class="col inputs" #email="ngModel" [(ngModel)]="usuario.email" required />
      <span class="validaciones" *ngIf="email.touched && !email.valid">
      El email no es válido
    </span>

      <br/>

      <input type="submit" value="REGISTRAR" class="btn botonregistro" [disabled]="!formRegistroEstudiante.form.valid" />

    </form>
  </div>
</div>
