
<div class="container registro">
  <div class="vl">
    <form #formRegistroEstudiante="ngForm" (ngSubmit)="editarConfiguracion()" class="form-registro-estudiante" >
      <h4 class="mt-4 mb-4 titulo">EDITAR CONFIGURACIÓN</h4>

      <fa-icon [icon]="iconoFecha"></fa-icon>
      <label for="f_inicio_uno" class="labels ml-2">Fecha inicio primer cuatrimestre</label>
      <input class="col inputs" name="f_inicio_uno" (click)="d1.toggle()" readonly required [(ngModel)]="configuracion.f_inicio_uno" ngbDatepicker #d1="ngbDatepicker"/>

      <br/>

      <fa-icon [icon]="iconoFecha"></fa-icon>
      <label for="f_fin_uno" class="labels ml-2">Fecha fin primer cuatrimestre</label>
      <input class="col inputs" name="f_fin_uno" (click)="d2.toggle()" readonly required [(ngModel)]="configuracion.f_fin_uno" ngbDatepicker #d2="ngbDatepicker"/>


      <br/>

      <fa-icon [icon]="iconoFecha"></fa-icon>
      <label for="f_inicio_dos" class="labels ml-2">Fecha inicio segundo cuatrimestre</label>
      <input class="col inputs" name="f_inicio_dos" (click)="d3.toggle()" readonly required [(ngModel)]="configuracion.f_inicio_dos" ngbDatepicker #d3="ngbDatepicker"/>


      <br/>

      <fa-icon [icon]="iconoFecha"></fa-icon>
      <label for="f_fin_dos" class="labels ml-2">Fecha fin segundo cuatrimestre</label>
      <input class="col inputs" name="f_fin_dos" (click)="d4.toggle()" readonly required [(ngModel)]="configuracion.f_fin_dos" ngbDatepicker #d4="ngbDatepicker"/>


      <br/>

      <div *ngIf="mostrarbien==true" class="alert alert-success alert-dismissable mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cambiarbien()"><span aria-hidden="true">&times;</span></button>
        {{mensaje}}
      </div>
      <div *ngIf="mostrarmal==true" class="alert alert-danger alert-dismissable mt-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cambiarmal()"><span aria-hidden="true">&times;</span></button>
        {{mensaje}}
      </div>

      <input type="submit" value="EDITAR" class="btn botonregistro" [disabled]="!formRegistroEstudiante.form.valid" />

    </form>
  </div>
</div>
