<div class="container mt-5">
<fa-icon [icon]="icono"></fa-icon>
<label for="email" class="label ml-2">Selecciona el usuario del que deseas ver el calendario</label>
<mat-form-field class="select">
  <mat-select class="opciones" [formControl]="usuarioCtrl" #singleSelect>
    <mat-option>
      <ngx-mat-select-search placeholderLabel="Selecciona el profesor" noEntriesFoundLabel="No se encuentra el profesor" [formControl]="UsuarioFilterCtrl"></ngx-mat-select-search>
    </mat-option>
    <mat-option class="opciones" *ngFor="let profesor of filteredUsuarios | async" [value]="profesor" (click)="submit(profesor.email)">
      {{profesor.nombre}} {{profesor.apellidos}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
