.select{
  width:100%;
}

.label{
  font-size: 1.2em;
  text-decoration: underline;
  text-decoration-color: mediumpurple;
}

.contenido{
  width: 80%;
}

.resultado{
  font-size: 1.2em;
}

.boton{
  border-radius: 30px;
  border:none;
  color:white;
  font-size:1.4em;
  padding-right: 3%;
  padding-left: 3%;
  background: linear-gradient(to right, mediumpurple, skyblue);
}

.botonvolver{
  border-radius: 30px;
  font-size:1.4em;
  border:none;
  color:white;
  padding-right: 3%;
  padding-left: 3%;
  background: linear-gradient(to left, mediumpurple, skyblue);
}

ul {list-style: none}

li::before {
  content: "•";
  font-size: 1.3em;
  color: mediumpurple;
  display: inline-block;
  width: 1em;
}

.excepcion{
  color: #990000;
}
