.select{
  margin-top:0;
  width: 100%;
}
.label{
  font-size: 1.2em;
  margin:0;
}
.opciones{
  font-family: "Century Gothic";
}

.botonvolver{
  border-radius: 30px;
  font-size:1.4em;
  border:none;
  color:white;
  padding-right: 3%;
  padding-left: 3%;
  background: linear-gradient(to left, mediumpurple, skyblue);
}
