.titulo{
  font-size: 1.2em;
  text-decoration: underline;
  text-decoration-color: mediumpurple;
}

.salida{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  color:black;
  font-size: 1.4em;
  background-color: #008000;
  opacity: 0.6;
  border-radius: 5px;
}
